.LoginSignUpContainer {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    position: fixed;
    top: 0%;
    left: 0;
  }
  